In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

In [3]:
data = pd.read_csv("HousingData.csv")

In [4]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
X = data.drop('MEDV', axis=1)
y = data['MEDV']

In [8]:
imputer = SimpleImputer(strategy='mean')
X = imputer.fit_transform(X)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
from sklearn import metrics
import numpy as np

mse = metrics.mean_squared_error(y_test, y_pred)
mae = metrics.mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"Root Mean Squared Error: {rmse}")

Mean Squared Error: 21.047043957270205
Mean Absolute Error: 3.1289564965046575
Root Mean Squared Error: 4.587705740048091

In [13]:
#There are 14 attributes in each case of the dataset. They are:
#CRIM - per capita crime rate by town
#ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
#INDUS - proportion of non-retail business acres per town.
#CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
#NOX - nitric oxides concentration (parts per 10 million)
#RM - average number of rooms per dwelling
#AGE - proportion of owner-occupied units built prior to 1940
#DIS - weighted distances to five Boston employment centres
#RAD - index of accessibility to radial highways
#TAX - full-value property-tax rate per $10,000
#PTRATIO - pupil-teacher ratio by town
#B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
#LSTAT - % lower status of the population
#MEDV - Median value of owner-occupied homes in $1000's

In [14]:
print(y_test)

173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
       ...
110    21.7
321    23.1
265    22.8
29     21.0
262    48.8
Name: MEDV, Length: 167, dtype: float64

In [15]:
print(model.coef_)

[-1.25703469e-01  3.36974207e-02 -4.08181858e-03  3.82442914e+00
 -1.47650681e+01  4.26602500e+00 -2.87130075e-02 -1.47637284e+00
  1.88056821e-01 -6.70432353e-03 -9.03277655e-01  1.17093298e-02
 -4.70491857e-01]

In [16]:
y_pred = model.predict(X_test)
print(y_pred)

[ 2.89327828e+01  3.72264420e+01  1.53900739e+01  2.57185341e+01
  1.83596001e+01  2.29554589e+01  1.79744238e+01  1.44658802e+01
  2.20164734e+01  2.07826529e+01  2.52375783e+01  1.86049092e+01
 -5.97686216e+00  2.19128236e+01  1.89542357e+01  2.52634479e+01
  1.93898010e+01  6.10283345e+00  4.07365828e+01  1.70418841e+01
  2.50043963e+01  3.04300577e+01  1.12948841e+01  2.26459624e+01
  1.74059694e+01  1.51957538e+01  2.15647727e+01  1.42789088e+01
  2.32314685e+01  1.95702105e+01  2.22135154e+01  2.51339260e+01
  2.51848660e+01  1.72517881e+01  1.62269758e+01  1.72020945e+01
  3.06696868e+01  2.02682921e+01  2.48033988e+01  2.29730392e+01
  1.46046930e+01  3.16248324e+01  4.27196491e+01  1.80945478e+01
  2.72906158e+01  1.65123231e+01  1.38565860e+01  2.66063921e+01
  1.97032124e+01  3.01632377e+01  2.09122025e+01  3.32819532e+01
  1.58148322e+01  2.61315288e+01  3.94118172e+01  2.24587904e+01
  1.85684362e+01  3.30481638e+01  2.51699384e+01  1.31334565e+01
  2.25871523e+01  3.08454804e+01  3.15304183e+01  1.68347898e+01
  2.10688907e+01  1.72736879e+01  1.98401457e+01  2.63903683e+01
  3.13555744e+01  1.16364812e+01  2.10377587e+01  2.65268932e+01
  1.09011393e+01  1.30934088e+01  2.40873876e+01  5.80630424e+00
  2.13881162e+01  4.14968392e+01  1.80716408e+01  9.81845732e+00
  2.14691132e+01  1.29336127e+01  2.20164382e+01  9.27186755e+00
  2.27131570e+01  3.24927092e+01  1.88613968e+01  2.56568408e+01
  2.91872231e+01  1.97364568e+01  2.60155385e+01  5.71967095e+00
  1.96122552e+01  1.54913146e+01  1.23273818e+01  2.02011865e+01
  2.36588118e+01 -2.30848905e-02  1.34301312e+01  1.55303106e+01
  2.26424800e+01  2.47058509e+01  1.05620187e+01  1.96249849e+01
  2.32646758e+01  1.26152204e+01  1.84426774e+01  2.58989900e+01
  2.10518266e+01  2.47133515e+01  7.79009146e+00  2.01331989e+01
  2.19084075e+01  2.74422057e+01  3.17747721e+01  1.46516790e+01
  3.44142350e+01  1.29598612e+01  2.14254074e+01  2.82631787e+01
  1.52625771e+01  2.51158708e+01  3.51443922e+00  2.37326783e+01
  2.62935596e+01  2.30353195e+01  2.54287040e+01  3.28851843e+01
  2.17480250e+01  3.81770533e+01  1.45802238e+01  2.62386336e+01
  1.74062724e+01  2.07868313e+01  1.04735198e+01  2.04791745e+01
  2.25538940e+01  3.19286299e+01  3.18923306e+01  1.53609776e+01
  1.68816572e+01  2.91987333e+01  2.52972462e+01  1.77363741e+01
  6.70553883e+00  2.59789061e+01  2.38030516e+01  2.02889414e+01
  1.34556092e+01  3.97393595e+01  1.62382408e+01  1.77010975e+01
  2.50521453e+01  2.35612840e+01  2.24356030e+01  2.15697685e+01
  1.66262148e+01  2.22423937e+01  2.89193168e+01  6.60609798e+00
  2.44301060e+01  1.69666167e+01  2.17010971e+01  2.50167025e+01
  2.77819884e+01  2.08285723e+01  4.03319160e+01]

In [17]:
print(np.mean((y_pred - y_test)**2))

21.047043957270205

In [18]:
print(mean_squared_error(y_test, y_pred))

21.047043957270205